<div class="row">
  <div class="col-md-6">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
                type="text"
                class="form-control"
                id="firstName"
                formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email">
      </div>

      <ba-card title="Profile Image" baCardClass="with-scroll">
        <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions" formControlName="avatar" ngDefaultControl ></ba-picture-uploader>
      </ba-card>

      <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!myForm.valid">Submit</button>
    </form>
  </div>
</div>
